<div class="container">
  <h1>PRODUCTS</h1>

  <div class="row">
    <ng-container *ngFor="let product of products">
      <div class="card col-md-3" style="margin-left: auto">
        <img
          src="{{ product.productImg }}"
          style="margin-left: 15%"
          alt="Card image cap"
        />
        <hr />
        <div class="card-body">
          <h3 class="card-title">
            <b>{{ product.productName }}</b>
          </h3>
          <span class="card-text">
            <p>MRP: {{ product.price | currency : "INR" }}</p>
          </span>
          <button
            type="button"
            class="btn btn-warning mx-3"
            (click)="addToCart(product)"
          >
            Add to cart
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- <table class="table table-bordered table-striped mt-5">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Price</th>
  
          <th>Unit</th>
          <th>SupplierId</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <span>{{ product.productID }}</span>
          </td>
          <td>
            <span>
              <img src = "{{ product.productImg }}" >
            </span>
          </td>
          <td>
            <span>{{ product.productName }}</span>
          </td>
          <td>
            <span>{{ product.price | currency : "INR" }}</span>
          </td>
          <td>
            <span>{{ product.unit }}</span>
          </td>
  
          <td>
            <span>{{ product.supplier.supplierID }}</span>
          </td>
  
          <td>
            <tr>
              
              <button
                class="btn btn-sm btn-warning mx-1 mb-1"
                (click)="addToCart(product)"
              >
                <i class="fa fa-shopping-cart" style ="text-align: center;"></i> Add to Cart
              </button>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

<!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
