.container {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.container2 {
  text-align: left;
}
.req {
  color: red;
}

h1 {
  text-decoration: overline coral;
}

.table > thead > tr > th {
  background-color: #e1aad9;
}
