<div class="container" *ngIf="items?.length > 0">
  <div class="row">
    <div class="col-lg-12 text-center my-4">
      <h1>YOUR CART</h1>
    </div>

    <div class="col-lg-9">
      <table class="table table-hover">
        <thead class="text-center">
          <tr>
            <th scope="col">ProductId</th>
            <th scope="col">ProductName</th>
            <th scope="col">Price</th>
            <!-- <th scope="col">Quantity</th> -->
            <th scope="col">SupplierId</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>
              <span>{{ item.productID }}</span>
            </td>
            <td>
              <span>{{ item.productName }}</span>
            </td>
            <td>
              <span>{{ item.price | currency  }}</span>
            </td>

            <td>
              <span>{{ item.supplier.supplierID }}</span>
            </td>
            <td>
              <span
                ><button (click)="deletefromcart(item)">Remove</button></span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-3">
      <div class="border bg-light rounded p-4">
        <h3><b>Total Payable:</b></h3>

        <h4 class="text-right">{{ count | currency : "INR" }}</h4>
        <!-- <button class="btn btn-sm btn-warning mx-1">Place Order</button> -->

        <hr />
        <div class="form-group">
          <label for="nameInput" style="padding: 20px"
            ><b> Enter Customer ID : </b></label
          >
          <input
            #nameInput
            type="text"
            class="form-control"
            placeholder="Enter Customer ID"
          />

          <button class="btn btn-sm btn-warning mx-1 mt-3" (click)="buyNow()">
            Place Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-img col-lg-12" *ngIf="items?.length == 0">
  <div class="container-test">
      <img src="../assets/your-cart-is-empty.png" height="300px" width="600" class=" img1"> 
      
    </div>
      
      
</div>

<div class="container-btn mt-3">
  <a routerLink="/viewproducts" mat-flat-button color="accent">Continue Shopping</a> 

</div>



