<p>
  <mat-toolbar color="accent">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> -->
    <!-- <mat-icon> <a routerLink="/">home </a></mat-icon> -->
    <!-- <a routerLink="/"><i class = "fa fa-home"> </i></a>
    </button>
      <span> Myntra </span> -->
    <a routerLink="/" mat-flat-button color="accent">
      <i class="fa fa-home"> MYNTRA </i></a
    >
    <span class="example-spacer"></span>
    <div>
      <a routerLink="/viewproducts" mat-flat-button color="accent">
        <i class="fa fa-product-hunt"></i>Products</a
      >
      <a routerLink="/CustomerDetails" mat-flat-button color="accent">
        <i class="fa fa-user"></i>Customer</a
      >
      <a routerLink="/shippers" mat-flat-button color="accent">
        <i class="fa fa-truck"></i>Shippers</a
      >
      <a routerLink="/cart" mat-flat-button color="accent">
        <i class="fa fa-shopping-cart"></i>Cart</a
      >
      <a routerLink="/orders" mat-flat-button color="accent">
        <i class="fa fa-list"></i>Orders</a
      >
    </div>
  </mat-toolbar>
</p>
